.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.row {
  display: flex;
  
}

.column {
  flex: 50%;
}

.watchlist-section {

  background-color: #d9ae94;
}

.watched-section {
  background-color: #ffcb69;
}

.list {

  text-align: justify;
  padding: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.wlist {

  text-align: justify;
  padding: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container {

  box-sizing: border-box;
  border-style:solid;
  border-radius: 10px;
  padding: 5px;
  border-color: #ffcb69;
}

.wcontainer {

  box-sizing: border-box;
  border-style:solid;
  border-radius: 10px;
  padding: 5px;
  border-color: #d9ae94;

}


.buttons-col-d {

  column-width: 40px;
  margin-left: 550px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
